{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <h1>Portfolio</h1>

    <table class="table table-bordered table-striped">
        <thead class="thead-light">
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Total Value</th>
            </tr>
        </thead>
        <tbody>
            {% for stock in stocks %}
                <tr>
                    <td>{{ stock.symbol }}</td>
                    <td>{{ stock.name }}</td>
                    <td>{{ stock.total_shares }}</td>
                    <td>{{ usd(stock.price) }}</td>
                    <td>{{ usd(stock.price * stock.total_shares) }}</td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="4" align="right">Cash</td>
                <td>{{ usd(cash) }}</td>
            </tr>
            <tr>
                <td colspan="4" align="right"><strong>Total Value</strong></td>
                <td>{{ usd(total_value) }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}